#header {
    background: #387c6d;
    height: 10%;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

#sidebar {
    background: #aad8d3;
    float: left;
    height: 400px;
    width: 30%;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

#content {
    background: #00adb5;
    float: right;
    width: 70%;
    height: 400px;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

#footer {
    background: #387c6d;
    clear: both;
    font-size: 25px;
    height: 10%;
    text-align: center;
}